* {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
}
a {
  font-size: 13px;
  font-weight: 500;
}
p {
  font-size: 16px;
  font-weight: 500;
  color: gray;
}
h3 {
  font-weight: 900;
}
.colour {
  background: hsla(225, 100%, 98%, 1);
}
.bodybg {
  background-image: url("./pattern-background-desktop.svg");
  background-position: top;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.card {
  width: 320px;
  height: 480px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}
.headerimage img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.text {
  margin-top: 5px;
  text-align: center;
  padding: 10px;
}
.text p {
  font-size: smaller;
}
.image {
  display: flex;
  justify-content: flex-start;
}
.left {
  display: flex;
  align-items: center;
}
.plan {
  display: flex;
  width: 90%;
  height: 70px;
  margin-left: 5%;
  margin-top: 20px;
  border-radius: 10px;
  background: hsla(225, 100%, 98%, 1);
  justify-content: space-around;
  align-items: center;
}
.plan img {
  width: 80%;
}
.button {
  margin-top: 30px;
  display: flex;
  width: 90%;
  margin-left: 5%;
}
#pay-bttn {
  color: aliceblue;
  background-color: hsl(245, 75%, 52%);
  width: 100%;
  height: 25px;
  border-radius: 4px;
  box-shadow: 0px 7px 7px 7px hsla(245, 75%, 52%, 0.1);
  border-width: 0;
  font-size: 12px;
}
.cancel {
  text-align: center;
  margin-top: 10px;
}
.cancel p {
  font-size: 12px;
  color: hsl(223, 47%, 23%, 0.8);
  font-weight: bolder;
}
.annual h5 {
  font-size: smaller;
  font-weight: bolder;
}
.annual p {
  font-size: smaller;
  color: gray;
}
